Django>=4.2
django-cors-headers
django-ninja
django-q2
djangorestframework
financedatabase
gunicorn
huggingface-hub>=0.20.0
django-ninja-jwt
langchain-groq
langgraph
matplotlib
numpy
pandas
pgvector
psycopg2-binary
redis
requests
scipy
seaborn
scikit-learn
sentence-transformers