Django>=4.2
django-ninja
django-q2
djangorestframework
financedatabase
gunicorn
huggingface-hub>=0.20.0
ninja_jwt
numpy
pandas
pgvector
psycopg2-binary
redis
requests
scikit-learn
sentence-transformers